<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h1 class="text-center my-4">Design your taco!</h1>
    <img th:src="@{/images/TacoSpring.png}" alt="Taco Composition" class="img-fluid d-block mx-auto">
    <form th:object="${taco}" th:method="POST" th:action="@{/design}" class="container">
        <div class="row">
            <div class="col-md-4" id="wraps">
                <h3>Designate your wrap:</h3>
                <div th:each="ingredient : ${wrap}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="beefs">
                <h3>Pick your beef:</h3>
                <div th:each="ingredient : ${beef}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="chickens">
                <h3>Pick your chicken:</h3>
                <div th:each="ingredient : ${chicken}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="porks">
                <h3>Pick your pork:</h3>
                <div th:each="ingredient : ${pork}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="fishes">
                <h3>Pick your fish:</h3>
                <div th:each="ingredient : ${fish}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="beans">
                <h3>Pick your beans:</h3>
                <div th:each="ingredient : ${beans}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="lettuces">
                <h3>Pick your lettuce:</h3>
                <div th:each="ingredient : ${lettuce}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="tomatoes">
                <h3>Pick your tomato:</h3>
                <div th:each="ingredient : ${tomatoes}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="onions">
                <h3>Pick your onion:</h3>
                <div th:each="ingredient : ${onions}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="bell_peppers">
                <h3>Pick your bell pepper:</h3>
                <div th:each="ingredient : ${bell_peppers}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="cheddars">
                <h3>Choose your cheese:</h3>
                <div th:each="ingredient : ${cheddar}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="monterey_jacks">
                <h3>Choose your cheese:</h3>
                <div th:each="ingredient : ${monterey_jack}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="queso_frescos">
                <h3>Choose your cheese:</h3>
                <div th:each="ingredient : ${queso_fresco}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="salsas">
                <h3>Select your sauce:</h3>
                <div th:each="ingredient : ${salsa}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="guacamoles">
                <h3>Select your sauce:</h3>
                <div th:each="ingredient : ${guacamole}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="sour_creams">
                <h3>Select your sauce:</h3>
                <div th:each="ingredient : ${sour_cream}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="col-md-4" id="hot_sauces">
                <h3>Select your sauce:</h3>
                <div th:each="ingredient : ${hot_sauce}">
                    <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>
        <div th:if="${#fields.hasErrors('ingredients')}" th:each="error : ${#fields.errors('ingredients')}"
             th:text="${error}" class="text-danger"></div>
        <div class="form-group">
            <label for="tacoName">Name your taco creation:</label>
            <input type="text" class="form-control" id="tacoName" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                     name="name" th:field="*{name}" required/>
            <div th:if="${#fields.hasErrors('name')}" th:each="error : ${#fields.errors('name')}"
                    class="invalid-feedback" th:text="${error}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit Your Taco</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>