<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div class="container text-center">
    <h1>Register for Taco Cloud</h1>
</div>

<form method="POST" th:action="@{/register}" class="container" th:object="${user}">
    <label for="username">Username: </label>
    <input type="text" name="username" th:field="*{username}" id="username"/>
    <th:block th:if="${#fields.hasErrors('username')}">
        <span th:each="error : ${#fields.errors('username')}" th:text="${error}" class="validationError"></span>
    </th:block>
    <br/>
    <label for="password">Password: </label>
    <input type="password" name="password" th:field="*{password}" id="password"/>
    <th:block th:if="${#fields.hasErrors('password')}">
        <span th:each="error : ${#fields.errors('password')}" th:text="${error}" class="validationError"></span>
    </th:block>
    <br/>
    <label for="confirm">Confirm password: </label>
    <input type="password" name="confirm" th:field="*{confirmPassword}" id="confirm"/>
    <th:block th:if="${#fields.hasErrors('confirmPassword')}">
        <span th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}" class="validationError"></span>
    </th:block>
    <br/>
    <label for="fullname">Full name: </label>
    <input type="text" name="fullname" th:field="*{fullname}" id="fullname"/>
    <th:block th:if="${#fields.hasErrors('fullname')}">
        <span th:each="error : ${#fields.errors('fullname')}" th:text="${error}" class="validationError"></span>
    </th:block>
    <br/>
    <label for="street">Street: </label>
    <input type="text" name="street" th:field="*{street}" id="street"/>
    <th:block th:if="${#fields.hasErrors('street')}">
        <span th:each="error : ${#fields.errors('street')}" th:text="${error}" class="validationError"></span>
    </th:block>
    <br/>
    <label for="city">City: </label>
    <input type="text" name="city" th:field="*{city}" id="city"/>
    <th:block th:if="${#fields.hasErrors('city')}">
        <span th:each="error : ${#fields.errors('city')}" th:text="${error}" class="validationError"></span>
    </th:block>
    <br/>
    <label for="state">State: </label>
    <input type="text" name="state" th:field="*{state}" id="state"/>
    <th:block th:if="${#fields.hasErrors('state')}">
        <span th:each="error : ${#fields.errors('state')}" th:text="${error}" class="validationError"></span>
    </th:block>
    <br/>
    <label for="zip">Zip: </label>
    <input type="text" name="zip" th:field="*{zip}" id="zip"/>
    <th:block th:if="${#fields.hasErrors('zip')}">
        <span th:each="error : ${#fields.errors('zip')}" th:text="${error}" class="validationError"></span>
    </th:block>
    <br/>
    <label for="phoneNumber">Phone: </label>
    <input type="text" name="phone" th:field="*{phoneNumber}" id="phoneNumber"/>
    <th:block th:if="${#fields.hasErrors('phoneNumber')}">
        <span th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}" class="validationError"></span>
    </th:block>
    <br/>
    <input type="submit" value="Register" class="btn btn-primary"/>
</form>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">&copy; 2024 Taco Spring</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
